/**
 * Wrap inline SVGs with an `object` to fix Safari's broken height calculations.
 * http://benfrain.com/attempting-to-fix-responsive-svgs-in-desktop-safari
 */
/* line 5, ../scss/style.scss */
._fix-safari-svg-height {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 100%;
}

/* line 12, ../scss/style.scss */
._fix-safari-svg-height__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * Position images and content using the ZorroSVG transparency technique.
 */
/* line 23, ../scss/style.scss */
.o-zorro-svg {
  position: relative;
  width: 100%;
  height: 0;
  margin: -2px 0;
  padding: 0 0 100%;
  overflow: visible;
  z-index: 1;
}

/* line 32, ../scss/style.scss */
.o-zorro-svg__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding: 0 0 100%;
  pointer-events: none;
}
/* line 41, ../scss/style.scss */
.o-zorro-svg__image img {
  width: 100%;
}

/* line 45, ../scss/style.scss */
.o-zorro-svg__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * Sample styles to position ZorroSVG images and content.
 */
/* line 60, ../scss/style.scss */
.c-home-food {
  padding: 0 0 59.75%;
  margin-bottom: calc(-9.6666666667% - 2px);
}

/* line 64, ../scss/style.scss */
.c-home-food .o-zorro-svg__image {
  height: 100%;
  padding: 0;
}

/* line 68, ../scss/style.scss */
.c-home-food .o-zorro-svg__content {
  position: absolute;
  left: 0;
  width: 100%;
  height: 83.8214783821%;
  top: 0;
}

@media (max-width: 475px) {
  /* line 78, ../scss/style.scss */
  .c-home-food {
    height: auto;
    margin: -2px 0;
    padding-bottom: 0;
  }

  /* line 83, ../scss/style.scss */
  .c-home-food .o-zorro-svg__image {
    height: 119.301164725%;
  }

  /* line 86, ../scss/style.scss */
  .c-home-food .o-zorro-svg__content {
    position: relative;
    height: auto;
  }
}
/**
 * Decorations
 */
/* line 99, ../scss/style.scss */
body {
  background: #900;
}

/* line 102, ../scss/style.scss */
.c-home-food {
  color: #fff;
}

/* line 105, ../scss/style.scss */
.u-gutter {
  padding: 2em;
}

/**
 * Reset box-model for everything
 */
/* line 112, ../scss/style.scss */
* {
  margin: 0;
  padding: 0;
}
/* line 116, ../scss/style.scss */
*, *::before, *::after {
  box-sizing: border-box;
}
