/**
 * Wrap inline SVGs with an `object` to fix Safari's broken height calculations.
 * http://benfrain.com/attempting-to-fix-responsive-svgs-in-desktop-safari
 */
._fix-safari-svg-height {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 100%;
}
._fix-safari-svg-height__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * Position images and content using the ZorroSVG transparency technique.
 */
.o-zorro-svg {
  position: relative;
  width: 100%;
  height: 0;
  margin: -2px 0; // HACK: Remove whitespace aliasing around vertical edges
  padding: 0 0 100%;
  overflow: visible;
  z-index: 1;
}
.o-zorro-svg__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding: 0 0 100%;
  pointer-events: none;

  picture,
  img {
    width: 100%;
  }
  img {
    height: auto;
  }
}
.o-zorro-svg__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



// ------------------------------
// ------------------------------
// ------------------------------



// Note: This could work, but we have to get the animation to trigger once the
// images are loaded, not before. Seems like JS is the only way.
// @keyframes trigger-repaint {
//   from { margin: 0 0 1px; }
// }
// .o-zorro-svg__image {
//   margin: 0;
//   animation: 0.1s trigger-repaint 1s;
// }



// ------------------------------
// ------------------------------
// ------------------------------

// TODO: Blur animation
// ._blur {
//   transition: filter 300ms;
//   -webkit-filter: blur(22px);
//   filter: blur(22px);
// }

// Placeholder blur animation
// .o-responsive-image {
//   position: relative;
//   overflow: hidden;
// }
// .o-responsive-image__placeholder {
//   width: 100%;
//   -webkit-filter: blur(22px);
//   filter: blur(22px);
// }
// .o-responsive-image__image {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }
// /* fade image in after load */
// .lazyload,
// .lazyloading {
//   opacity: 0;
// }
// .lazyloaded {
//   transition: opacity 300ms;
//   opacity: 1;
// }



// ------------------------------
// ------------------------------
// ------------------------------



/**
 * Sample styles to position ZorroSVG images and content.
 */
.c-home-food {
  padding: 0 0 59.75%;
  margin-bottom: calc(-9.6666666667% - 2px);
}
.c-home-food .o-zorro-svg__image {
  height: 100%;
  padding: 0;
}
.c-home-food .o-zorro-svg__content {
  position: absolute;
  left: 0;
  width: 100%;
  height: 83.8214783821%;
  top: 0;
}

// @media (max-width: 47.9375em) {
@media (max-width: 475px) {
  .c-home-food {
    height: auto;
    margin: -2px 0;
    padding-bottom: 0;
  }
  .c-home-food .o-zorro-svg__image {
    height: 119.301164725%;
  }
  .c-home-food .o-zorro-svg__content {
    position: relative;
    height: auto;
  }
}



// ------------------------------
// ------------------------------
// ------------------------------



/**
 * Decorations
 */
body {
    background: #900;
}
.c-home-food {
    color: #fff;
}
.u-gutter {
    padding: 2em;
}

/**
 * Reset box-model for everything
 */
* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
